<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %></p>
    <%
        for(i=0;i<list.length;i++){
    %>
    <%= list[i] %>
    <br>
    <%
        }
    %>

    <tbody>
    <th>name</th>
    <th>zzzz</th>
    <tr>
    </tr>
    </tbody>
  </body>
</html>
