<!DOCTYPE html>
<html>
<head>
    <title>내툰</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://developers.kakao.com/sdk/js/kakao.min.js"></script>

</head>
<h1>내툰</h1>
<p>추가한 리스트</p>

<a href="/auth/logout/kakao">로그아웃</a>
<a href="/setting">세팅</a>
</br>

<table>
    <%
    var current = "";
    for(updated in list){
    %>
        <%= updated + " : " + list[updated] %><br>
    <%
    }
    %>
</table>

</br>


</body>

</html>
